<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>download douban diary info</string>
	<key>Extension Identifier</key>
	<string>popclip.extension.doubandiary</string>
	<key>Extension Name</key>
	<string>Douban Diary</string>
	<key>Version</key>
	<integer>1</integer>
	<key>Actions</key>
	<array>
		<dict>
                        <!-- 
                         The action will appear only if the text matches the regexRequirements || Regex 
                        <key>Requirements</key>
                        <array>
                            <string>httpurl</string>
                        </array>
                        -->
                        <key>Regular Expression</key>
                        <string>.*www.douban.com/people/.+/notes</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/python</string>
			<key>Shell Script File</key>
			<string>doubandiary.py</string>
			<key>Title</key>
			<string>Douban Diary</string>
			<key>Image File</key>
			<string>doubandiary.png</string>
		</dict>
	</array>
</dict>
</plist>
